@use '../abstracts' as *;
@use 'sass:math';

.hamburger {
    transition: filter 0.15s linear;
    cursor: pointer;
    z-index: 200;

    @include respond-to("medium-up") {
        &:hover {
            filter: brightness(0.7);
        }
    
        &.is-active {
            &:hover {
                filter: brightness(0.7);
            }
        }
    }
}

.hamburger-box {
    display: inline-block;
    position: relative;
    width: $hamburger-width;
    height: $hamburger-height * 3 + $hamburger-spacing * 2;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: math.div($hamburger-height, -2);

    &,
    &::before,
    &::after {
        position: absolute;
        width: $hamburger-width;
        height: $hamburger-height;
        background-color: white;
        border-radius: $hamburger-border-radius;
        transition: transform 0.15s linear;
    }

    &::before,
    &::after {
        content: '';
        display: block;
    }

    &::before {
        top: ($hamburger-spacing + $hamburger-height) * -1;
    }

    &::after {
        bottom: ($hamburger-spacing + $hamburger-height) * -1;
    }
}

.hamburger--spin {
    .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
        }

        &::after {
            transition: bottom 0.1s 0.25s ease-in,
                transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

    &.is-active {
        .hamburger-inner {
            transform: rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.1s ease-out,
                    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}
