@use '../abstracts' as *;

:root {
    --active-tab-color: white;
}

// .skills__tabs {
//     padding: 2rem;
//     border: 2px solid $orange-accent;
//     border-radius: 0.4rem;
// }

.tabs__wrapper {
    padding: 4rem 0;

    @include respond-to('small') {
        padding-top: 2rem;
    }
}

.tabs__list {
    display: flex;
    justify-content: center;
}

.tab {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 4rem;
    cursor: pointer;

    @include respond-to('small') {
        margin-top: 0 2rem;
    }
}

.underline {
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--active-tab-color);
    border-radius: 1rem;
}

.tab svg {
    width: 2rem;
    margin-right: 0.5rem;
    fill: $white;
}

.tab:nth-child(2) {
    svg {
        width: 1.5rem;
    }
}

.tab.active {
    color: var(--active-tab-color);
}

.tab.active svg {
    fill: var(--active-tab-color);
}

.tabs__content {
    margin-top: 2rem;
}

.tab__content {
    overflow: hidden;
}
