@use '../abstracts' as *;

body {
    color: $white;
    font-family: $font-primary, $font-fallback;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

a {
    color: $white;
    text-decoration: none;
}

h1, .h1-like {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    font-family: $font-secondary;

    @include respond-to('medium') {
        font-size: 2.2rem;
    }
}

h2, .h2-like {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
    font-family: $font-secondary;

    @include respond-to('medium') {
        font-size: 1.6rem;
    }
}

h3, .h3-like {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
    font-family: $font-secondary;

    @include respond-to('medium') {
        font-size: 1rem;
    }
}

// ----------------
// Background
// ----------------

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    background-image: linear-gradient(
        190deg,
        #16313b 0%,
        #132c35 10%,
        #0e1f25 30%,
        #06131d 60%,
        #03090e 100%
    );
}