@use 'sass:map';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@function bp($bp) {
    @return map.get($breakpoints, $bp);
}

%container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container {
    @extend %container;

    @each $key, $value in $max-width {
        @include responsive-container(#{bp($key)}) {
            max-width: $value;
        }
    }
}

@each $key, $value in $container-sizes {
    .container-#{$key} {
        @extend %container;
        max-width: $value;
    }
}

.container-full {
    @extend %container;
    max-width: 100%;
}
