@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@function bp($bp) {
    @return map-get($breakpoints, $bp);
}

@function container($container-size) {
    @return map-get($container-sizes, $container-size);
}

@function max-width($max-width) {
    @return map-get($max-widths, $max-width);
}

%container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.container {
    @extend %container;
    padding-right: 1rem;
    padding-left: 1rem;

    @each $bp, $container-size in $container-sizes {
        @include responsive-container(#{bp($bp)}) {
            max-width: container($bp);
        }
    }
}

@each $bp, $max-width in $max-widths {
    .container-#{$bp} {
        @extend %container;

        @if $bp == 'md' {
            @include responsive-container(#{bp('sm')}) {
                max-width: $max-width;
            }
        } @else {
            @include responsive-container(#{bp($bp)}) {
                max-width: $max-width;
            }
        }
    }
}

.container-full {
    @extend %container;
    max-width: 100%;
}