// ----------------
// Poppins
// ----------------
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

// ----------------
// Noto Sans
// ----------------
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

// ----------------
// Open Sans
// ----------------

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wght.ttf') format('truetype') tech(variations);
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wght.ttf') format('truetype') tech(variations);
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-style: italic;
}

// ----------------
// JetBrains Mono
// ----------------

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype') tech(variations);
    font-weight: 100 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono Italic';
    src: url('../assets/fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype') tech(variations);
    font-weight: 100 800;
    font-style: italic;
}