@use '../abstracts' as *;

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
}

.contact__title.hidden {
    opacity: 0;
}

.contact__3d {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}