@use '../abstracts' as *;

// ----------------
// Curtain intro and Loader
// ----------------

.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark-blue;
    z-index: 900;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.curtain.hidden {
    transform: translate3d(0, -100%, 0);
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 160;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors (1.4s * 4) ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: $orange;
    } 
    25% {
        stroke: $orange-accent;
    }  
    50% {
        stroke: $dark-blue-accent;
    }   
    75% {
        stroke: $blue;
    }
    100% {
        stroke: $white;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 160;
    }
    50% {
        stroke-dashoffset: calc(160/3);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 160;
        transform: rotate(450deg);
    }
}

// ----------------
// General
// ----------------

.wrapper {
    position: relative;
    width: 90%;
    height: calc(100vh - 85px);
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);

    @include respond-to('small') {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        max-height: 545px;
        transform: translateX(0);
    }
}

// ----------------
// Text
// ----------------

.text {
    position: absolute;
    top: 40%;
    margin-left: 11%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 200;

    @include respond-to('large') {
        margin-left: 6%;
    }

    @include respond-to('medium') {
        margin-left: 40px;
    }

    @include respond-to('small') {
        width: 85%;
        margin: 0 6%;
        top: auto;
        transform: translate3d(0, 0, 0);
        bottom: 8rem;
    }
}

.title {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
    letter-spacing: 0.5rem;
    font-weight: 500;
    text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);

    @include respond-to('medium') {
        font-size: 4.5rem;
    }

    @include respond-to('small') {
        font-size: 3rem;
        margin-bottom: 0.8rem;
        text-shadow: 0 3px 10px rgba(2, 11, 22, 0.5);
    }
}

.title__line {
    display: block;

    &:nth-child(2) {
        font-size: 3.5rem;

        @include respond-to('medium') {
            font-size: 2.8rem;
            letter-spacing: 0rem;
        }        
        
        @include respond-to('small') {
            font-size: 1.8rem;
        }
    }
}

.subtitle {
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px black;    
    
    @include respond-to('medium') {
        font-size: 1.1rem;
    }
}

.text .separator {
    display: inline-block;
    margin: 2rem 1rem;

    @include respond-to('small') {
        margin: 0 1rem 0.6rem;
    }
}

.text .separator span {
    display: block;
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background: $orange;

    @include respond-to('medium') {
        width: 70px;
    }

    @include respond-to('small') {
        width: 50px;
        height: 2px;
    }
}

.text .separator span:first-child {
    margin-bottom: 1.4rem;

    @include respond-to('small') {
        margin-bottom: 0.7rem;
    }
}

.text .separator span:last-child {
    margin-left: 54px;

    @include respond-to('small') {
        margin-left: 28px;
    }
}

// ----------------
// Images
// ----------------

.image {
    display: block;
    position: relative;
    top: -10%;
    width: 40%;
    height: 60%;
    margin: 0 8% 0 auto;
    box-shadow: 0 80px 100px -40px rgba(0, 0, 0, 0.6);

    @include respond-to('medium') {
        margin-right: 40px;
    }

    @include respond-to('small') {
        position: absolute;
        width: 80%;
        height: 50%;
        margin: 0 10%;
        top: 11%;
    }
}

.image-project {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-over {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.image-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: $orange;
    transform: translate3d(100%, 0, 0);
    opacity: 0.8;
}

.image-cover:last-child {
    background: $orange-accent;
}

// ----------------
// Section enter animation
// ----------------

.section.active {
    .title {
        animation: enter-left-content 1.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .separator span:first-child {
        animation: enter-left-content 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    }

    span:last-child {
        animation: enter-left-content 1.5s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .subtitle {
        animation: enter-left-content 1.5s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .btn-home {
        animation: enter-left-content 1.3s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .image {
        animation: scale-image 2s linear;
    }

    .image-cover {
        animation: enter-image 1.5s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .image-cover:last-child {
        animation: enter-image 1.3s cubic-bezier(0.86, 0, 0.07, 1);
    }
}

@keyframes enter-left-content {
    0% {
        transform: translate3d(-250%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes scale-image {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes enter-image {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}

// ----------------
// Section navigation
// ----------------

#fp-nav {
    margin: 0;
    width: 2rem;
    left: 40px !important;
    z-index: 100;
}
#fp-nav ul li {
    height: 4px !important;
    margin: 0 0 40px !important;
}
#fp-nav ul li a {
    width: 24px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    transition: 0.3s;
}
#fp-nav ul li a span {
    display: none;
}
#fp-nav ul li:last-child {
    margin-bottom: 0 !important;
}
#fp-nav ul li .active {
    width: 40px;
}

@include respond-to('large') {
    #fp-nav {
        width: auto;
        top: auto !important;
        left: 50% !important;
        bottom: 30px;
        transform: translate3d(-50%, 0, 0) !important;
    }
    #fp-nav ul {
        display: flex;
        align-items: flex-end;
    }
    #fp-nav ul li {
        width: 4px !important;
        height: auto !important;
        margin: 0 35px !important;
    }
    #fp-nav ul li a {
        width: 4px !important;
        height: 20px !important;
    }
    #fp-nav ul li .active {
        height: 40px !important;
    }
}

@include respond-to('small') {
    #fp-nav {
        bottom: 20px;
    }
    #fp-nav ul li {
        width: 3px !important;
        margin: 0 20px !important;
    }
    #fp-nav ul li a {
        width: 3px !important;
        height: 18px !important;
    }
    #fp-nav ul li .active {
        height: 32px !important;
    }
}

// ----------------
// Scrolldown button
// ----------------

.scrolldown {
    position: fixed;
    font-size: 0.9rem;
    bottom: 78px;
    left: 40px;
    line-height: 1;
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;
    z-index: 100;

    @include respond-to('small') {
        left: auto;
        right: 6.25%;
        font-size: 0.7rem;
        bottom: 40px;
    }

    &:after {
        content: '';
        width: 2px;
        height: 64px;
        background: $white;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -80px;

        @include respond-to('small') {
            right: 6.25%;
            height: 52px;
            bottom: -60px;
        }
    }
}

.scrolldown.active {
    animation: enter-scrolldown 1.5s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes enter-scrolldown {
    from {
        transform: translate3d(0, 180%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.scrolldown.inactive {
    animation: exit-scrolldown 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes exit-scrolldown {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 180%, 0);
    }
}
