// ----------------
// Sass config and variables
// ----------------

// ----------------
// Breakpoints
// ----------------

$breakpoints: (
  sm: 576px,
  md: 992px,
  lg: 1400px,
) !default;

$small: map-get($breakpoints, sm) !default;
$medium: map-get($breakpoints, md) !default;
$large: map-get($breakpoints, lg) !default;

// ----------------
// Colors
// ----------------

$text-light: hsl(222.86, 10.45%, 86.86%);
$background: hsl(0, 0%, 13.73%);
$background-accent: hsl(216, 3.36%, 29.22%);